In [ ]:
#1
class Patient:
  def __init__ (self,name,age,weight,height):
    self.name=name
    self.age=age
    self.weight=weight
    self.height=height
  def printDetails(self):
    print('Name: ',self.name)
    print('Age: ',self.age)
    print('Weight: ',self.weight,' kg')
    print('Height: ',self.height,' cm')
    print('BMI: ',self.weight/((self.height**2)/10000))

In [ ]:
p1 = Patient("A", 55, 63.0, 158.0)
p1.printDetails()
print("====================")
p2 = Patient("B", 53, 61.0, 149.0)
p2.printDetails()

Name:  A
Age:  55
Weight:  63.0  kg
Height:  158.0  cm
BMI:  25.236340330075308
====================
Name:  B
Age:  53
Weight:  61.0  kg
Height:  149.0  cm
BMI:  27.476239809017613

In [ ]:
#2
class Shape:
  def __init__ (self,shape,base,height):
    self.shape=shape
    self.height=height
    self.base=base
  def area(self):
    if self.shape=='Triangle':
      print('Area: ',((self.base*self.height)/2))
    elif self.shape=='Square':
      print('Area: ',self.base*self.height)
    elif self.shape=='Rhombus':
      print('Area: ',((self.base*self.height)/2))
    elif self.shape=='Rectangle':
      print('Area: ',(self.base*self.height))
    else:
      print('Area: ','Shape unknown')

In [ ]:
triangle = Shape("Triangle",10,25)
triangle.area()
print("==========================")
square = Shape("Square",10,10)
square.area()
print("==========================")
rhombus = Shape("Rhombus",18,25)
rhombus.area()
print("==========================")
rectangle = Shape("Rectangle",15,30)
rectangle.area()
print("==========================")
trapezium = Shape("Trapezium",15,30)
trapezium.area()

Area:  125.0
==========================
Area:  100
==========================
Area:  225.0
==========================
Area:  450
==========================
Area:  Shape unknown

In [ ]:
#3
class Calculator:
  def __init__(self):
    print("Calculator is ready!")

  def calculate (self, p1, p2, p3):
    self.p1 = p1
    self.p2 = p2
    self.p3 = p3

    if self.p3 == '+':
      return (self.p1 + self.p2)

    elif self.p3 == "-":
      return (self.p1 - self.p2)

    elif self.p3 == "*":
      return (self.p1 * self.p2)

    elif self.p3 == "/":
      return self.p1 / self.p2

  def showCalculation(self):
     print(f"{self.p1} {self.p3} {self.p2} = {val}")
c1 = Calculator()
print("==================")
val = c1.calculate(10, 20, '+')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 10, '-')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 5, '*')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 16, '/')
print("Returned value:", val)
c1.showCalculation()

Calculator is ready!
==================
Returned value: 30
10 + 20 = 30
==================
Returned value: 20
30 - 10 = 20
==================
Returned value: 100
20 * 5 = 100
==================
Returned value: 6.25
100 / 16 = 6.25

In [ ]:
#4
class Programmer:
  def __init__ (self,name,lang,experience):
    self.name=name
    self.language=lang
    self.experience=experience
    print('Hooray! A new programmer is born')
  def printDetails(self):
    print('Name:',self.name)
    print('Language:',self.language)
    print('Experience:',self.experience)
  def addExp(self,exp):
    self.experience+=exp
    print('Updating experience of',self.name)

In [ ]:
p1 = Programmer("Ethen Hunt", "Java", 10)
p1.printDetails()
print('--------------------------')
p2 = Programmer("James Bond", "C++", 7)
p2.printDetails()
print('--------------------------')
p3 = Programmer("Jon Snow", "Python", 4)
p3.printDetails()
p3.addExp(5)
p3.printDetails()

Hooray! A new programmer is born
Name: Ethen Hunt
Language: Java
Experience: 10
--------------------------
Hooray! A new programmer is born
Name: James Bond
Language: C++
Experience: 7
--------------------------
Hooray! A new programmer is born
Name: Jon Snow
Language: Python
Experience: 4
Updating experience of Jon Snow
Name: Jon Snow
Language: Python
Experience: 9

In [ ]:
#5
class UberEats:
  def __init__(self,name,num,place):
    self.name=name
    self.num=num
    self.place=place
    print(self.name,', Welcome to UberEats!')
  def add_items(self,a,b,c,d):
    self.a=a
    self.b=b
    self.c=c
    self.d=d
  def print_order_detail(self):
    dict1=dict([(self.a,self.c),(self.b,self.d)])
    sum=(self.c+self.d)
    s=f"User details: Name:{self.name},Phone:{self.num},Adress:{self.place}\nOrders:{dict1}\nTotal Pid Amount:{sum}"
    return s
order1 = UberEats("Shakib", "01719658xxx", "Mohakhali")
print("=========================")
order1.add_items("Burger", "Coca Cola", 220, 50)
print("=========================")
print(order1.print_order_detail())
print("=========================")
order2 = UberEats ("Siam", "01719659xxx", "Uttara")
print("=========================")
order2.add_items("Pineapple", "Dairy Milk", 80, 70)
print("=========================")
print(order2.print_order_detail())

Shakib , Welcome to UberEats!
=========================
=========================
User details: Name:Shakib,Phone:01719658xxx,Adress:Mohakhali
Orders:{'Burger': 220, 'Coca Cola': 50}
Total Pid Amount:270
=========================
Siam , Welcome to UberEats!
=========================
=========================
User details: Name:Siam,Phone:01719659xxx,Adress:Uttara
Orders:{'Pineapple': 80, 'Dairy Milk': 70}
Total Pid Amount:150

In [ ]:
#6
class Customer:
  def __init__(self, c1):
    self.c1 = c1
  def greet(self, c2 = None):
    self.c2 = c2

    if self.c2 == "":
      print("Hello!")

    else:
      print(f"Hello {self.c1}!")
  def purchase(self, * prod):
    self.prod = prod
    print(f"{self.c1}, you purched {len(prod)} item(s):")

    for i in self.prod:
      print(i)
customer_1 = Customer("Sam")
customer_1.greet()
customer_1.purchase("chips", "chocolate", "orange juice")
print("-----------------------------")
customer_2 = Customer("David")
customer_2.greet("David")
customer_2.purchase("orange juice")

Hello!
Sam, you purched 3 item(s)
chips
chocolate
orange juice
-----------------------------
Hello David!
David, you purched 1 item(s)
orange juice

In [ ]:
#7
class Cat:
  def __init__(self,x='White',y='sitting'):
    self.name=x
    self.action=y
  def printCat(self):
    print(f"{self.name} cat is {self.action}")
  def changeColor(self,update):
    self.name=update
c1 = Cat()
c2 = Cat("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()

White cat is sitting
Black cat is sitting
Brown cat is jumping
Red cat is purring
Blue cat is sitting
Purple cat is jumping

In [ ]:
#8
class Student:
  def __init__(self,x,y,z='CSE'):
    self.name=x
    self.id=y
    self.dept=z
  def dailyEffort(self,hour):
    self.hour=hour
  def printDetails(self):
    if self.hour<=2:
      s=f"Should give more effort!"
    elif self.hour<=4:
      s=f"Keep up the good work!"
    else:
      s=f" Excellent! Now motivate others."
    print(f"Name: {self.name}\nID: {self.id}\nDepartment: {self.dept}\nDaily Effort: {self.hour} hour(s)\nSuggestion: {s}")
harry = Student('Harry Potter', 123)
harry.dailyEffort(3)
harry.printDetails()
print('========================')
john = Student("John Wick", 456, "BBA")
john.dailyEffort(2)
john.printDetails()
print('========================')
naruto = Student("Naruto Uzumaki", 777, "Ninja")
naruto.dailyEffort(6)
naruto.printDetails()

Name: Harry Potter
ID: 123
Department: CSE
Daily Effort: 3 hour(s)
Suggestion: Keep up the good work!
========================
Name: John Wick
ID: 456
Department: BBA
Daily Effort: 2 hour(s)
Suggestion: Should give more effort!
========================
Name: Naruto Uzumaki
ID: 777
Department: Ninja
Daily Effort: 6 hour(s)
Suggestion:  Excellent! Now motivate others.

In [ ]:
#11
class TaxiLagbe:
  def __init__(self,n,p):
    self.info=n
    self.place=p
    self.price=0
    self.count=0
    self.p=""


  def addPassenger(self,*args):
    self.passengers=args
    if self.count<4:
     for i in self.passengers:
      v=i.split("_")
      print(f"Dear {v[0]}! Welcome to TaxiLagbe.")
      self.price+=int(v[1])
      self.count+=1
      self.p+=v[0]+","
    else:
      print("Taxi Full! No more passengers can be added.")

  def printDetails(self):

    print(f"Trip info for Taxi number: {self.info}\nThis taxi can cover only {self.place}\nTotal passengers:{self.count}\nPassenger lists: {self.p[:-1]}\nTotal collected fare: {self.price} Taka")
taxi1 = TaxiLagbe('1010-01', 'Dhaka')
print('-------------------------------')
taxi1.addPassenger('Walker_100', 'Wood_200')
taxi1.addPassenger('Matt_100')
taxi1.addPassenger('Wilson_105')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi1.addPassenger('Karen_200')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi2 = TaxiLagbe('1010-02', 'Khulna')
taxi2.addPassenger('Ronald_115')
taxi2.addPassenger('Parker_215')
print('-------------------------------')
taxi2.printDetails()

-------------------------------
Dear Walker! Welcome to TaxiLagbe.
Dear Wood! Welcome to TaxiLagbe.
Dear Matt! Welcome to TaxiLagbe.
Dear Wilson! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka
Total passengers:4
Passenger lists: Walker,Wood,Matt,Wilson
Total collected fare: 505
-------------------------------
Taxi Full! No more passengers can be added.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka
Total passengers:4
Passenger lists: Walker,Wood,Matt,Wilson
Total collected fare: 505
-------------------------------
Dear Ronald! Welcome to TaxiLagbe.
Dear Parker! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-02
This taxi can cover only Khulna
Total passengers:2
Passenger lists: Ronald,Parker
Total collected fare: 330

In [ ]:
#9
class Batsman:
  def __init__(self,*args):
    if len(args)==2:
      self.name='New Batsman'
      self.run=args[0]
      self.ball=args[1]
    else:
      self.name=args[0]
      self.run=args[1]
      self.ball=args[2]
  def printCareerStatistics(self):
      print(f"Name: {self.name}\nRun Scored: {self.run} , Balls Faced: {self.ball}")
  def battingStrikeRate(self):
      r=(self.run/self.ball)*100
      s=f"{r}"
      return s
  def setName(self,update):
      self.name=update

b1 = Batsman(6101, 7380)
b1.printCareerStatistics()
print("============================")
b2 = Batsman("Liton Das", 678, 773)
b2.printCareerStatistics()
print("----------------------------")
print(b2.battingStrikeRate())
print("============================")
b1.setName("Shakib Al Hasan")
b1.printCareerStatistics()
print("----------------------------")
print(b1.battingStrikeRate())

Name: New Batsman
Run Scored: 6101 , Balls Faced: 7380
============================
Name: Liton Das
Run Scored: 678 , Balls Faced: 773
----------------------------
87.71021992238033
============================
Name: Shakib Al Hasan
Run Scored: 6101 , Balls Faced: 7380
----------------------------
82.66937669376694

In [ ]:
#10
class Author:
  def __init__ (self,*args):
    if len(args)==1:
      self.name=args[0]
      self.lst=[]
    elif len(args)==0:
      self.name='Default'
      self.lst=[]
    else:
      self.name=args[0]
      self.lst=list(args[1:])
  def addBooks(self,*args):
    for i in args:
      self.lst.append(i)
  def printDetails(self):
    print(f"Author Name: {self.name}")
    print(f'List of Books:')
    for i in self.lst:
      print(i)
  def changeName(self,update):
    self.name=update
auth1 = Author('Humayun Ahmed')
auth1.addBooks('Deyal', 'Megher Opor Bari')
auth1.printDetails()
print("===================")
auth2 = Author()
print(auth2.name)
auth2.changeName('Mario Puzo')
auth2.addBooks('The Godfather', 'Omerta', 'The Sicilian')
print("===================")
auth2.printDetails()
print("===================")
auth3 = Author('Paolo Coelho', 'The Alchemist', 'The Fifth Mountain')
auth3.printDetails()

Author Name: Humayun Ahmed
List of Books:
Deyal
Megher Opor Bari
===================
Default
===================
Author Name: Mario Puzo
List of Books:
The Godfather
Omerta
The Sicilian
===================
Author Name: Paolo Coelho
List of Books:
The Alchemist
The Fifth Mountain

In [ ]:
#12
class Account:
  def __init__(self,x=None,y=0):
    if x==None:
      self.name='Default Account'
    else:
      self.name=x
    self.balance=y
  def details(self):
    s=f"{self.name}\n{self.balance}"
    return s

  def withdraw(self,draw):
    self.draw=draw
    self.balance=self.balance-self.draw
    if self.balance >= 3071.0:
      print(f"Withdraw successful! New balance is: {self.balance}")
    else:
      print('Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.')
      self.balance=self.balance+self.draw

a1 = Account()
print(a1.details())
print("------------------------")
a1.name = "Oliver"
a1.balance = 10000.0
print(a1.details())
print("------------------------")
a2 = Account("Liam")
print(a2.details())
print("------------------------")
a3 = Account("Noah",400)
print(a3.details())
print("------------------------")
a1.withdraw(6930)
print("------------------------")
a2.withdraw(600)
print("------------------------")
a1.withdraw(6929)

Default Account
0
------------------------
Oliver
10000.0
------------------------
Liam
0
------------------------
Noah
400
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Withdraw successful! New balance is: 3071.0

In [ ]:
#13
class StudentDatabase:
    def __init__(self,n,id):
        self.name=n
        self.ID=id
        self.list1=[]
        self.grades={}
        self.dict1={}
        self.sum=0
        self.cgpa=0

    def calculateGPA(self,*args):

        for i in range(len(args[0])):
            l= args[0][i].split(':')
            self.list1.append(l[0])
            self.sum+=(float(l[1])*3)

        self.cgpa=self.sum/(len(args[0])*3)
        self.sum=0
        self.dict1[tuple(self.list1)]=self.cgpa
        self.list1 = []

        if args[1] not in self.grades:
            self.grades[args[1]]= self.dict1
            self.dict1={}

    def printDetails(self):
        print(f'Name: {self.name}\nID: {self.ID}')
        for k,v in self.grades.items():
            print(f'Courses taken in {k}:')
            for i in v.keys():
                for j in i:
                    print(j)
                print(f'GPA: {v[i]}')

s1 = StudentDatabase('Pietro', '10101222')
s1.calculateGPA(['CSE230: 4.0', 'CSE220: 4.0', 'MAT110: 4.0'], 'Summer2020')
s1.calculateGPA(['CSE250: 3.7', 'CSE330: 4.0'], 'Summer2021')
print(f'Grades for {s1.name}\n{s1.grades}')
print('------------------------------------------------------')
s1.printDetails()
s2 = StudentDatabase('Wanda', '10103332')
s2.calculateGPA(['CSE111: 3.7', 'CSE260: 3.7', 'ENG101: 4.0'], 'Summer2022')
print('------------------------------------------------------')
print(f'Grades for {s2.name}\n{s2.grades}')
print('------------------------------------------------------')
s2.printDetails()

Grades for Pietro
{'Summer2020': {('CSE230', 'CSE220', 'MAT110'): 4.0}, 'Summer2021': {('CSE250', 'CSE330'): 3.85}}
------------------------------------------------------
Name: Pietro
ID: 10101222
Courses taken in Summer2020:
CSE230
CSE220
MAT110
GPA: 4.0
Courses taken in Summer2021:
CSE250
CSE330
GPA: 3.85
------------------------------------------------------
Grades for Wanda
{'Summer2022': {('CSE111', 'CSE260', 'ENG101'): 3.8000000000000003}}
------------------------------------------------------
Name: Wanda
ID: 10103332
Courses taken in Summer2022:
CSE111
CSE260
ENG101
GPA: 3.8000000000000003

In [ ]:
#13
class StudentDatabase:
  def __init__(self,name,id):
    self.name=name
    self.id=id
  def calculateGPA(self,lst,sem):
    self.lst=lst
    self.sem=sem
    mlst=[]
    count=0
    dct1={}
    dct2={}
    for j in range(len(self.lst)):
      v=j.split(':')
      if j%2==0:
        mlst.append(v[j])
      else:
        count+=self.lst(v[j])
    dct2.update({tuple(self.lst):(count/len(mlst))})
    dct1.update({self.sem:dct1})
    s=f"{dct1}"
    return s
s1 = StudentDatabase('Pietro', '10101222')
s1.calculateGPA(['CSE230: 4.0', 'CSE220: 4.0', 'MAT110: 4.0'], 'Summer2020')
s1.calculateGPA(['CSE250: 3.7', 'CSE330: 4.0'], 'Summer2021')
print(f'Grades for {s1.name}\n{s1.grades}')
print('------------------------------------------------------')

AttributeError: ignored

In [ ]:
class Test3:
    def __init__(self):
        self.sum, self.y = 0, 0
    def methodA(self):
        x, y = 2, 3
        msg = [0]
        msg[0] = 3
        y = self.y + msg[0]
        self.methodB(msg, msg[0])
        x = self.y + msg[0]
        self.sum = x + y + msg[0]
        print(x, y, self.sum)
    def methodB(self, mg2, mg1):
        x = 0
        self.y = self.y + mg2[0]
        x = x + 33 + mg1
        self.sum = self.sum + x + self.y
        mg2[0] = self.y + mg1
        mg1 = mg1 + x + 2
        print(x, self.y, self.sum)


t3 = Test3()
t3.methodA()
t3.methodA()
t3.methodA()
t3.methodA()

36 3 39
9 3 18
36 6 60
15 6 30
36 9 75
21 9 42
36 12 90
27 12 54

In [ ]:
class Test5:
  def __init__(self):
    self.sum, self.y = 0, 0
  def methodA(self):
    x = 0
    z = 0
    while (z < 5):
      self.y = self.y + self.sum
      x = self.y + 1
      print(x, self.y, self.sum)
      self.sum = self.sum + self.methodB(x, self.y)
      z += 1
  def methodB(self, m, n):
    x = 0
    sum = 0
    self.y = self.y + m
    x = n - 4
    sum = sum + self.y
    print(x, self.y, sum)

    return self.sum
t5 = Test5()
t5.methodA()

1 0 0
-4 1 1
2 1 0
-3 3 3
4 3 0
-1 7 7
8 7 0
3 15 15
16 15 0
11 31 31

In [ ]:
class FinalT6A:
    def __init__(self, x, p):
        self.temp, self.sum, self.y = 4, 0, 1
        self.temp += 1
        self.y = self.temp - p
        self.sum = self.temp + x
        print(x, self.y, self.sum)
    def methodA(self):
        x = 0
        y = 0
        y = y + self.y
        x = self.y + 2 + self.temp
        print(x)
        self.sum = x + y + self.methodB(self.temp, y)
        print(x, y, self.sum)
    def methodB(self, temp, n):
        x = 0
        temp += 1
        self.y = self.y + temp
        x = x + 3 + n
        self.sum = self.sum + x + self.y
        print(x, self.y, self.sum)
        return self.sum

q1 = FinalT6A(2,1)
q1.methodA()
q1.methodA()

2 4 7
11
7 10 24
11 4 39
17
13 16 68
17 10 95

In [ ]:
class Test5:
  def __init__(self):
      self.sum = 0
      self.y = 0
  def methodA(self):
      x=y=k=0
      msg = [5]
      while (k < 2):
          y += msg[0]
          x = y + self.methodB(msg, k)
          self.sum = x + y + msg[0]
          print(x ," " , y, " " , self.sum)
          k+=1
  def methodB(self, mg2, mg1):
        x = 0
        self.y += mg2[0]
        x = x + 3 + mg1
        self.sum += x + self.y
        mg2[0] = self.y + mg1
        mg1 += x + 2
        print(x , " " ,self.y, " " , self.sum)
        return mg1
t1 = Test5()
t1.methodA()
t1.methodA()
t1.methodA()

3   5   8
10   5   20
4   10   34
17   10   38
3   15   56
10   5   30
4   30   64
27   20   78
3   35   116
10   5   50
4   70   124
47   40   158

In [ ]:
#19
class msgClass:
    def __init__(self):
        self.content = 0
class Q5:
    def __init__(self):
        self.sum = 1
        self.x = 2
        self.y = 3
    def methodA(self):
        x, y = 1, 1
        msg = []
        myMsg = msgClass()
        myMsg.content = self.x
        msg.append(myMsg)
        msg[0].content = self.y + myMsg.content
        self.y = self.y + self.methodB(msg[0])
        y = self.methodB(msg[0]) + self.y
        x = y + self.methodB(msg[0], msg)
        self.sum = x + y + msg[0].content
        print(x," ", y," ", self.sum)
    def methodB(self, mg1, mg2 = None):
        if mg2 == None:
            x, y = 5, 6
            y = self.sum + mg1.content
            self.y = y + mg1.content
            x = self.x + 7 +mg1.content
            self.sum = self.sum + x + y
            self.x = mg1.content + x +8
            print(x, " ", y," ", self.sum)
            return y
        else:
            x = 1
            self.y += mg2[0].content
            mg2[0].content = self.y + mg1.content
            x = x + 4 + mg1.content
            self.sum += x + self.y
            mg1.content = self.sum - mg2[0].content
            print(self.x, " ",self.y," ", self.sum)
            return self.sum


q = Q5()
q.methodA()

14   6   21
39   26   86
52   36   168
225   57   409

In [ ]:
#21
class Student:
  def __init__(self,name,id,dept):
    self.name=name
    self.id=id
    self.dept=dept
  def details(self):
    s=f"Name: {self.name}\nID: {self.id}\nDepertment: {self.dept}"
    return s
  def advise(self,*args):
    self.args=args
    total=len(args)
    print(f"{self.name},you have taken {total*3.0} credits")
    print(f"List of courses: {','.join(args)}")
    if total< 3:
      print(f'status: you have to take at least {3-total}more courses.')
    elif total>=3 and total<=4:
      print('status: ok')
    elif total >4:
      print(f'You have to drop at least {total-4} courses')
s1 = Student('Alice','20103012','CSE')
s2 = Student('Bob', '18301254','EEE')
s3 = Student('Carol', '17101238','CSE')
print('##########################')
print(s1.details())
print('##########################')
print(s2.details())
print('##########################')
s1.advise('CSE110', 'MAT110', 'PHY111')
print('##########################')
s2.advise('BUS101', 'MAT120')
print('##########################')
s3.advise('MAT110', 'PHY111', 'ENG102',
'CSE111', 'CSE230')

##########################
Name: Alice
ID: 20103012
Depertment: CSE
##########################
Name: Bob
ID: 18301254
Depertment: EEE
##########################
Alice,you have taken 9.0 credits
List of courses: CSE110,MAT110,PHY111
status: ok
##########################
Bob,you have taken 6.0 credits
List of courses: BUS101,MAT120
status: you have to take at least 1more courses.
##########################
Carol,you have taken 15.0 credits
List of courses: MAT110,PHY111,ENG102,CSE111,CSE230
You have to drop at least 1 courses

In [ ]:
#20
class Student:
  def __init__(self,x=None,y=None):
    self.x=x
    self.y=y
    if x==None and y==None:
      print('Student name and department need to be set')
    elif y==None:
      print('Department for',self.x,'needs to be set')
    else:
      print(self.x,'is from',self.y,'department')
  def update_name(self,name):
    self.x=name
  def update_department(self,dep):
    self.y=dep
  def enroll(self,*args):
    self.args=args
  def printDetail(self):
    print(f"Name: {self.x}\nDepartment: {self.y}")
    print(f"{self.x} enrolled in {len(self.args)} courses")
    print(f"{','.join(self.args)}")
s1 = Student()
print("=========================")
s2 = Student("Carol")
print("=========================")
s3 = Student("Jon", "EEE")
print("=========================")
s1.update_name("Bob")
s1.update_department("CSE")
s2.update_department("BBA")
s1.enroll("CSE110", "MAT110", "ENG091")
s2.enroll("BUS101")
s3.enroll("MAT110", "PHY111")
print("###########################")
s1.printDetail()
print("=========================")
s2.printDetail()
print("=========================")
s3.printDetail()

Student name and department need to be set
=========================
Department for Carol needs to be set
=========================
Jon is from EEE department
=========================
###########################
Name: Bob
Department: CSE
Bob enrolled in 3 courses
CSE110,MAT110,ENG091
=========================
Name: Carol
Department: BBA
Carol enrolled in 1 courses
BUS101
=========================
Name: Jon
Department: EEE
Jon enrolled in 2 courses
MAT110,PHY111

In [ ]:
#23
class Author:
  def __init__(self,x=None):
    self.x=x
    self.count=0
    self.flst=[]
    self.blst=[]
  def addBook(self,*args):
    if self.x==None:
      print('A book can not be added without author name')
    else:
      self.args=args
      y=args[0]
      self.blst.append(y)
      z=args[1]
      self.flst.append(z)
      self.count+=1

  def setName(self,name):
    self.x=name
  def printDetail(self):
    print('Number of Book(s):',self.count)
    print('Author Name:',self.x)
    for i in range(len(self.flst)):
      if i%2==0:
        for j in range(len(self.blst)):
          j=i
        print(f"{self.flst[j]}:{self.blst[i]}")
      elif i%2==1:
        for j in range(len(self.blst)):
          j=i
        print(f"{self.flst[j]}:{self.blst[i]}")
a1 = Author()
print("=================================")
a1.addBook("Ice", "Science Fiction")
print("=================================")
a1.setName("Anna Kavan")
a1.addBook("Ice", "Science Fiction")
a1.printDetail()
print("=================================")
a2 = Author("Humayun Ahmed")
a2.addBook("Onnobhubon", "Science Fiction")
a2.addBook("Megher Upor Bari", "Horror")
print("=================================")
a2.printDetail()
a2.addBook("Ireena", "Science Fiction")
print("=================================")
a2.printDetail()
print("=================================")

=================================
A book can not be added without author name
=================================
Number of Book(s): 1
Author Name: Anna Kavan
Science Fiction:Ice
=================================
=================================
Number of Book(s): 2
Author Name: Humayun Ahmed
Science Fiction:Onnobhubon
Horror:Megher Upor Bari
=================================
Number of Book(s): 3
Author Name: Humayun Ahmed
Science Fiction:Onnobhubon
Horror:Megher Upor Bari
Science Fiction:Ireena
=================================

In [ ]:
class Test4:
    def __init__(self):
        self.sum, self.y = 0, 0
    def methodA(self):
        x, y = 0, 0
        msg = [0]
        msg[0] = 5
        y = y + self.methodB(msg[0])
        x = y + self.methodB(msg, msg[0])
        self.sum = x + y + msg[0]
        print(x, y, self.sum)
    def methodB(self, *args):
        if len(args) == 1:
            mg1 = args[0]
            x, y = 0, 0
            y = y + mg1
            x = x + 33 + mg1
            self.sum = self.sum + x + y
            self.y = mg1 + x + 2
            print(x, y, self.sum)
            return y
        else:
            mg2, mg1 = args
            x = 0
            self.y = self.y + mg2[0]
            x = x + 33 + mg1
            self.sum = self.sum + x + self.y
            mg2[0] = self.y + mg1
            mg1 = mg1 + x + 2
            print(x, self.y, self.sum)
            return self.sum
t3 = Test4()
t3.methodA()
t3.methodA()
t3.methodA()
t3.methodA()

38 5 43
38 50 131
136 5 196
38 5 239
38 50 327
332 5 392
38 5 435
38 50 523
528 5 588
38 5 631
38 50 719
724 5 784